<html ng-app>
	<link rel="stylesheet" type="text/css" href="style.css"></link>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"></link>
	<script src="http://code.angularjs.org/1.2.4/angular.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
<head>
</head>

<div class="container">
<h1>Powering Agriculture 2013 Winners</h1>
<div class="input-group col-md-4 col-sm-12">
  <span class="input-group-addon">Search</span>
  <input type="text" class="form-control" placeholder="e.g. Clean Energy">
</div>
<br>

<!--First Section-->
<div ng-init="winners = [{name:'African Bamboo', location:'Ethiopia', img: 'bamboo.png', modalId: '1'},
                             {name:'Camco Clean Energy', location:'Benin & Tanzania', img: 'Camco-resized.jpg', modalId: '2'},
                             {name:'Earth Institute', location:'Senegal', img: 'Earth-resized.jpg', modalId: '3'},
                             {name:'Earth Spark', location:'Haiti', img: 'earthspark-resized.jpg', modalId: '4'},
                             {name:'Experience International', location:'Indonesia', img: 'experience-resized.jpg', modalId: '5'},
                             {name:'iDE', location:'Honduras, Nepal & Zambia', img: 'iDE-resized.jpg', modalId: '6'},
                             {name:'Motivo Engineering', location:'India', img: 'motivo-resized.jpg', modalId: '7'},
                             {name:'Eco Consult', location:'Jordan', img: 'EcoConsult-resized.png', modalId: '8'},
                             {name:'Rebound Technology', location:'Mozambique', img: 'rebound-resized.png', modalId: '9'},
                             {name:'Promethian', location:'India', img: 'Promethian-resized.jpg', modalId: '10'},
                             {name:'SunDanzer Refrigeration', location:'Kenya', img: 'SunDanzer-resized.png', modalId: '11'},
                             {name:'Smallholder Fortunes & Thermogen', location:'Uganda', img: 'fortunes-resized.jpg', modalId: '12'}]"></div>


<div class="winner-block col-md-4 col-sm-12" ng-repeat="winner in winners">
	<div class="cover well">
			<img src="img/{{winner.img}}" alt="Camco Clean Energy Picture" class="img-circle center-block" width="125px" height="125px">
		<div class="text-wrapper center-block">
			<h4>{{winner.name}}</h4>
			<h5><span class="glyphicon glyphicon-map-marker"></span> {{winner.location}}</h5>
			<button class="btn btn-success" data-toggle="modal" data-target="#{{winner.modalId}}">Learn More</button>
		</div>
	</div>
</div>


<!--End First Section-->

    


<!-- Modal 1-->
<div ng-repeat="winner in winners" class="modal fade" id="{{winner.modalId}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">{{winner.name}}</h4>
      </div>
      <div class="modal-body">
        {{winner.modalContent}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


</div>

</html>