/*CSS Line 3057*/

div#block-views-Affiliates-block_1 .views-field-field-logo-fid {
    float: left;
    margin-right: 6px;
    /* margin-top: -15px; */
}

/*CSS Line 3044*/

div#block-views-Affiliates-block_1 {
    /*background: none repeat scroll 0 0 #F7F7F7;*/
    margin-left: 0;
    text-align: left;
    width: 860px;
}